In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/kaggle/input/stroke-prediction-dataset/healthcare-dataset-stroke-data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [4]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [6]:
arr=df.columns

In [7]:
for i in arr:
    print(i,":",df[i].isnull().sum())

id : 0
gender : 0
age : 0
hypertension : 0
heart_disease : 0
ever_married : 0
work_type : 0
Residence_type : 0
avg_glucose_level : 0
bmi : 201
smoking_status : 0
stroke : 0

In [8]:
df['bmi'] = df['bmi'].fillna(df['bmi'].mean())

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [10]:
df.bmi.isnull().sum()

0

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()
df['ever_married']=le.fit_transform(df['ever_married'])

In [13]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,1,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,1,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,1,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,1,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,1,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,1,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,1,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,1,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,1,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,1,Govt_job,Urban,85.28,26.200000,Unknown,0

In [14]:
le=LabelEncoder()
df['smoking_status']=le.fit_transform(df['smoking_status'])

In [15]:
le=LabelEncoder()
df['Residence_type']=le.fit_transform(df['Residence_type'])

In [16]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,1,Private,1,228.69,36.600000,1,1
1,51676,Female,61.0,0,0,1,Self-employed,0,202.21,28.893237,2,1
2,31112,Male,80.0,0,1,1,Private,0,105.92,32.500000,2,1
3,60182,Female,49.0,0,0,1,Private,1,171.23,34.400000,3,1
4,1665,Female,79.0,1,0,1,Self-employed,0,174.12,24.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,1,Private,1,83.75,28.893237,2,0
5106,44873,Female,81.0,0,0,1,Self-employed,1,125.20,40.000000,2,0
5107,19723,Female,35.0,0,0,1,Self-employed,0,82.99,30.600000,2,0
5108,37544,Male,51.0,0,0,1,Private,0,166.29,25.600000,1,0
5109,44679,Female,44.0,0,0,1,Govt_job,1,85.28,26.200000,0,0

In [17]:
df['smoking_status'].unique()

array([1, 2, 3, 0])

In [18]:
le=LabelEncoder()
df['gender']=le.fit_transform(df['gender'])

In [19]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,Private,1,228.69,36.600000,1,1
1,51676,0,61.0,0,0,1,Self-employed,0,202.21,28.893237,2,1
2,31112,1,80.0,0,1,1,Private,0,105.92,32.500000,2,1
3,60182,0,49.0,0,0,1,Private,1,171.23,34.400000,3,1
4,1665,0,79.0,1,0,1,Self-employed,0,174.12,24.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,Private,1,83.75,28.893237,2,0
5106,44873,0,81.0,0,0,1,Self-employed,1,125.20,40.000000,2,0
5107,19723,0,35.0,0,0,1,Self-employed,0,82.99,30.600000,2,0
5108,37544,1,51.0,0,0,1,Private,0,166.29,25.600000,1,0
5109,44679,0,44.0,0,0,1,Govt_job,1,85.28,26.200000,0,0

In [20]:
df=df.drop(["id","work_type"],axis=1)

In [21]:
df

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,228.69,36.600000,1,1
1,0,61.0,0,0,1,0,202.21,28.893237,2,1
2,1,80.0,0,1,1,0,105.92,32.500000,2,1
3,0,49.0,0,0,1,1,171.23,34.400000,3,1
4,0,79.0,1,0,1,0,174.12,24.000000,2,1
...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,1,83.75,28.893237,2,0
5106,0,81.0,0,0,1,1,125.20,40.000000,2,0
5107,0,35.0,0,0,1,0,82.99,30.600000,2,0
5108,1,51.0,0,0,1,0,166.29,25.600000,1,0
5109,0,44.0,0,0,1,1,85.28,26.200000,0,0

In [22]:
x=df.iloc[:,:9]

In [23]:
x

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,1,228.69,36.600000,1
1,0,61.0,0,0,1,0,202.21,28.893237,2
2,1,80.0,0,1,1,0,105.92,32.500000,2
3,0,49.0,0,0,1,1,171.23,34.400000,3
4,0,79.0,1,0,1,0,174.12,24.000000,2
...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,1,83.75,28.893237,2
5106,0,81.0,0,0,1,1,125.20,40.000000,2
5107,0,35.0,0,0,1,0,82.99,30.600000,2
5108,1,51.0,0,0,1,0,166.29,25.600000,1
5109,0,44.0,0,0,1,1,85.28,26.200000,0

In [24]:
y=df["stroke"]

In [25]:
y

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.9)

In [27]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [28]:
model.fit(x_train,y_train)

GaussianNB()

In [29]:
x_test[:10]

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,smoking_status
2113,1,14.00,0,0,0,1,77.12,24.5,1
4173,1,5.00,0,0,0,1,69.24,16.7,0
597,0,1.08,0,0,0,0,60.53,17.5,0
3950,1,20.00,0,0,0,0,64.60,27.3,0
616,0,73.00,0,0,1,1,219.53,40.9,2
269,0,65.00,1,0,1,0,75.70,41.8,0
61,0,80.00,1,0,1,0,74.90,22.2,2
1068,0,82.00,0,0,1,0,96.63,26.5,0
1187,1,43.00,0,0,1,1,210.94,31.3,2
4936,1,24.00,0,0,0,0,91.21,28.1,1

In [30]:
y_pred=model.predict(x_test[:10])
y_pred

array([0, 0, 0, 0, 0, 1, 1, 0, 0, 0])

In [31]:
y_test[:10]

2113    0
4173    0
597     0
3950    0
616     0
269     0
61      1
1068    0
1187    0
4936    0
Name: stroke, dtype: int64

In [32]:
model.score(x_test,y_test)

0.8454011741682974